.banner {
  position: relative;
  padding-bottom: 28.8%;
}
.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.menus {
  padding: 20px;
  background-color: #d7dfe1;
}
.menus .menu {
  float: left;
  width: 21%;
  height: 60%;
  margin: 2%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menus .menu .img-width {
  width: 50%;
}
.menus .menu .img-width .img-container {
  position: relative;
  padding-bottom: 100%;
}
.menus .menu .img-width .img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.menus .menu .img-width .img-container img:nth-of-type(1) {
  visibility: visible;
}
.menus .menu .img-width .img-container img:nth-of-type(2) {
  visibility: hidden;
}
.menus .menu .menu-title {
  font-size: 0.9em;
  text-align: center;
  color: #666666;
}
.menus .menu.on .img-width .img-container img:nth-of-type(2) {
  visibility: visible;
}
.menus .menu.on .img-width .img-container img:nth-of-type(1) {
  visibility: hidden;
}
.menus .menu.on .menu-title {
  color: #d40e10;
}

.section {
  margin-top: 20px;
  display: none;
}
.section .title {
  position: relative;
  width: 210px;
  margin: 0 auto;
}
.section .title > div {
  text-align: center;
}
.section .title > div:nth-of-type(1) {
  font-size: 1.2em;
}
.section .title > div:nth-of-type(2) {
  height: 2px;
  width: 50px;
  margin: 7px auto 0 auto;
  background-color: #d40e10;
}

.gsjj .section-panel {
  padding: 15px;
}
.gsjj .section-panel .para {
  color: #666666;
  text-indent: 2em;
  line-height: 1.6em;
}
.gsjj .section-panel .img-container {
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
}
.gsjj .section-panel .img-container .img {
  position: relative;
  padding-bottom: 50%;
}
.gsjj .section-panel .img-container .img img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dszzc .section-panel {
  padding: 15px;
}
.dszzc .section-panel .para {
  color: #666666;
  text-indent: 2em;
  line-height: 1.6em;
}
.dszzc .section-panel .img-container {
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
}
.dszzc .section-panel .img-container .img {
  position: relative;
  padding-bottom: 70%;
}
.dszzc .section-panel .img-container .img img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.qywh .icons {
  padding: 15px;
}
.qywh .icons .icon {
  float: left;
  width: 50%;
  padding: 15px;
}
.qywh .icons .icon .img-container {
  width: 36%;
  max-width: 100px;
  margin: 0 auto;
}
.qywh .icons .icon .img-container .img {
  position: relative;
  padding-bottom: 100%;
}
.qywh .icons .icon .img-container .img img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.qywh .icons .icon .icon-name {
  margin-top: 5px;
  text-align: center;
  font-size: 1.2em;
}
.qywh .icons .icon .icon-narr {
  margin-top: 5px;
  text-align: center;
  color: #666666;
  font-size: 0.8em;
}

.zzjg .section-panel {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
}
.zzjg .section-panel .structure-container .structure {
  position: relative;
  padding-bottom: 67%;
}
.zzjg .section-panel .structure-container .structure img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lxwm .section-panel {
  width: 90%;
  margin: 20px auto;
}
.lxwm .section-panel .first-part label {
  float: left;
  display: block;
  width: 45%;
  min-width: 270px;
  margin: 5px 10px;
}
.lxwm .section-panel .first-part label input[type=text] {
  -webkit-appearance: none;
  line-height: 1.5;
  font-size: 1em;
  width: 150px;
  border: 1px solid #999999;
}
.lxwm .section-panel .first-part label input[type=radio] {
  vertical-align: baseline;
}
.lxwm .section-panel .first-part label .name {
  display: inline-block;
  width: 80px;
}
.lxwm .section-panel .first-part label span {
  color: #d40e10;
}
.lxwm .section-panel .first-part label:nth-of-type(7) {
  position: relative;
  top: 7px;
  margin-bottom: 20px;
}
.lxwm .section-panel .second-part label {
  display: block;
  margin: 5px 10px;
}
.lxwm .section-panel .second-part label input[type=text] {
  -webkit-appearance: none;
  line-height: 1.5;
  font-size: 1em;
  width: 150px;
  border: 1px solid #999999;
}
.lxwm .section-panel .second-part label textarea {
  width: calc(90% - 85px);
  -webkit-appearance: none;
  font-size: 1em;
  border: 1px solid #999999;
  vertical-align: bottom;
}
.lxwm .section-panel .second-part label .name {
  display: inline-block;
  width: 80px;
}
.lxwm .section-panel .second-part label span {
  color: #d40e10;
}
.lxwm .section-panel .second-part label .yzm {
  display: inline-block;
  width: 50px;
  vertical-align: bottom;
}
.lxwm .section-panel .second-part label .yzm img {
  width: 100%;
  height: 100%;
}
.lxwm .section-panel .more-button {
  margin: 20px;
  width: 150px;
}
.lxwm .section-panel .more-button a {
  font-size: 1.1em;
}
.lxwm .contact-options {
  width: 90%;
  min-width: 300px;
  margin: 0 auto;
}
.lxwm .contact-options .option {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 0.9em;
}
.lxwm .contact-options .option .img-container {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.lxwm .contact-options .option .img-container img {
  width: 100%;
  height: 100%;
}
.lxwm #dituContent {
  margin: 10px auto;
  width: 90%;
  height: 300px;
}

.gszz .section-panel,
.gsry .section-panel,
.rz .section-panel {
  display: flex;
  flex-wrap: wrap;
  width: 91%;
  margin: 20px auto;
}
.gszz .section-panel .zz,
.gsry .section-panel .zz,
.rz .section-panel .zz {
  width: 30%;
  min-width: 150px;
  margin: 0 10px 20px 10px;
}
.gszz .section-panel .zz .paper-container .paper,
.gsry .section-panel .zz .paper-container .paper,
.rz .section-panel .zz .paper-container .paper {
  position: relative;
  padding-bottom: 70%;
}
.gszz .section-panel .zz .paper-container .paper img,
.gsry .section-panel .zz .paper-container .paper img,
.rz .section-panel .zz .paper-container .paper img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.gszz .section-panel .zz .paper-title,
.gsry .section-panel .zz .paper-title,
.rz .section-panel .zz .paper-title {
  margin-top: 5px;
  font-size: 0.9em;
  text-align: center;
}

.pop-up {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.pop-up .modal-box {
  overflow: hidden;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}
.pop-up .modal-close {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}
.pop-up .modal-close span {
  color: #aaaaaa;
  font-size: 2em;
  line-height: 1.5em;
}

/*# sourceMappingURL=aboutus.css.map */
