@media screen and (orientation: portrait) {
	/*竖屏 css*/
	.header {
		.title {
			visibility: hidden;
		}
	}
}
@media screen and (orientation: landscape) {
	/*横屏 css*/
	.header {
		.title {
			visibility: visible;
		}
    }
}
* {
	box-sizing: border-box;
}
html,
body {
    width:100%;
    // overflow: hidden;
	margin: 0;
	padding: 0;
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}
a {
    text-decoration: none;
}
.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	.logo {
		margin: 10px;
		width: 90px;
		height: 64%;
		background: url("../asset/logo.png") no-repeat;
		background-size: 100% 100%;
	}
	.title {
		font-size: 1.2em;
		color: #d40e10;
	}
	span {
		margin: 10px;
		font-size: 2em;
		color: #9d9d9d;
	}
	.submenu {
        position: absolute;
        z-index: 1;
        top: 50px;
		right: -160px;
		width: 160px;
		font-size: 1.2em;
		background-color: rgba($color: #000000, $alpha: 0.7);
        transition: right 0.3s ease-in-out;
        div {
            a {
                display: block;
                color: #ffffff;
                margin: 10px;
            }
        }
        &.active {
            right: 0px;
        }
	}
}

.more-button{
    display: inline-block;
    padding: 0px 4px 2px 4px;

    border: 1px solid #d40e10;
    border-radius: 3px;
    a {
        color: #d40e10;
        text-decoration: none;
        font-size: 0.9em;
    }
    &:hover{
        background-color: #d40e10;
        >a {
            color: #ffffff;
        }
    }
}
