.banner {
	position: relative;
	padding-bottom: 28.8%;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.navigations {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 20px auto;
	.navigation {
		width: 20%;
		max-width: 70px;
		.img-container {
			position: relative;
			padding-bottom: 100%;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				&:nth-of-type(1) {
					visibility: visible;
				}
				&:nth-of-type(2) {
					visibility: hidden;
				}
			}
		}
		> div:nth-of-type(2) {
			font-size: 0.8em;
			text-align: center;
		}
		&.on {
			img {
				&:nth-of-type(2) {
					visibility: visible;
				}
				&:nth-of-type(1) {
					visibility: hidden;
				}
			}
			> div:nth-of-type(2) {
				color: #d40e10;
			}
		}
	}
}

.section {
	width: 90%;
    margin: 40px auto 0 auto;
    display: none;
}

.zpxx {
    display: block;
}

.wyyp {
	display: none;
	label {
		display: block;
		margin: 10px;
		input[type="text"] {
			-webkit-appearance: none;
			line-height: 1.5;
			font-size: 1em;
			width: 150px;
			border: 1px solid #999999;
		}
		textarea {
			-webkit-appearance: none;
			font-size: 1em;
			width: 60%;
			border: 1px solid #999999;
			vertical-align: bottom;
		}
		.name {
			display: inline-block;
			width: 80px;
		}
		span {
			color: #d40e10;
		}
		.yzm {
			display: inline-block;

			width: 50px;
			vertical-align: bottom;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.more-button {
		width: 80px;
		a {
			font-size: 1.1em;
		}
	}
}

.yrln {
	> div {
		&:nth-of-type(2n-1) {
			padding: 10px;
			text-align: center;
			font-size: 1.2em;
		}
		&:nth-of-type(2) {
			padding: 10px;
			text-align: center;
		}
		&:nth-of-type(4) {
			> div {
                margin: 0 auto;
				position: relative;
				padding-bottom: 12%;
				img {
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.zpxx {
    font-size: 0.9em;
    .title {
        display: flex;
        justify-content: space-between;
        >div{
            color: #666666;
        }
    }
    .content {
        margin-bottom: 50px;
        .line {
            display: flex;
            justify-content: space-between;
            margin: 20px 0 20px 0;
            transition: all 0.5s;

            .button {
                margin: 5px;
                height: 10px;
                width: 10px;
                border-top: 1.5px solid #7a7a7a;
                border-left: 1.5px solid #7a7a7a;
                transform-origin: 50% 50%;
                transition: transform 0.3s;
                transform: rotate(225deg);
            }
            &.selected {
                >div:nth-of-type(1) {
                    color: #d40e10;
                }
                .button {
                    transform: rotate(45deg);
                }
                &+.subcontent{
                    display: block;
                }
            }
            &+.subcontent{
                display: none;
            }
        }
        .subcontent {  
            padding: 5px;
            border-top: 1px solid #cccccc;
            .sub-name {
                font-size: 1.1em;
                color: #555555;
                line-height: 2;
            }
            .para {
                margin-bottom: 10px;
                font-size: 0.9em;
                color: #666666;
                line-height: 2;
            }
        }
    }
}
