.banner {
	position: relative;
	padding-bottom: 28.8%;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.navigations {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 20px auto;
	.navigation {
		width: 20%;
		max-width: 70px;
		.img-container {
			position: relative;
			padding-bottom: 100%;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				&:nth-of-type(1) {
					visibility: visible;
				}
				&:nth-of-type(2) {
					visibility: hidden;
				}
			}
		}
		> div:nth-of-type(2) {
			font-size: 0.8em;
			text-align: center;
		}
		&.on {
			img {
				&:nth-of-type(2) {
					visibility: visible;
				}
				&:nth-of-type(1) {
					visibility: hidden;
				}
			}
			> div:nth-of-type(2) {
				color: #d40e10;
			}
		}
	}
}

.section {
	width: 90%;
    margin: 40px auto 0 auto;
    display: none;
}

.zpxx {
    display: block;
}

.wyyp {
	display: none;
	label {
		display: block;
		margin: 10px;
		input[type="text"] {
			-webkit-appearance: none;
			line-height: 1.5;
			font-size: 1em;
			width: 150px;
			border: 1px solid #999999;
		}
		textarea {
			-webkit-appearance: none;
			font-size: 1em;
			width: 60%;
			border: 1px solid #999999;
			vertical-align: bottom;
		}
		.name {
			display: inline-block;
			width: 80px;
		}
		span {
			color: #d40e10;
		}
		.yzm {
			display: inline-block;

			width: 50px;
			vertical-align: bottom;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.more-button {
		width: 80px;
		a {
			font-size: 1.1em;
		}
	}
}

.yrln {
	> div {
		&:nth-of-type(2n-1) {
			padding: 10px;
			text-align: center;
			font-size: 1.5em;
		}
		&:nth-of-type(2) {
			padding: 10px;
			text-align: center;
		}
		&:nth-of-type(4) {
			> div {
                margin: 0 auto;
				position: relative;
				padding-bottom: 12%;
				img {
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
